@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}
#root {
  margin: 0;
  padding: 0;
}
body {
  background-color:#100701;
 overflow-x: hidden;
}
.drop {
  position: relative;
  top: 52px;
  z-index: 2;
}
.back {
  background-image: url("assets/back.gif");
}
.rounded-l-custom {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 12px black solid;
  
}
.rounded-1-custom {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  
  height: 395.1px;
}

.backbox {
  background-image: url("/src/assets/boxback.jpg");
  margin-top: 39px;
  width: 100vw;
  padding-top: 20px;
}
.main__container {
  width: 100vw;
  margin-inline: auto;
  padding: 3px;
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marquee__content img {
  max-width: 2rem;
  width: 100%;
  object-fit: contain;
}

.marquee__content > * {
  flex: 0 0 auto;
  color: rgb(3, 20, 47);
  background: transparent;
  margin: 2px;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marquee__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.enable-animation .marquee__content {
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.answer-enter {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.answer-enter-active {
  max-height: 500px; /* or any max height that can accommodate the content */
  opacity: 1;
}

.answer-exit {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.answer-exit-active {
  max-height: 0;
  opacity: 0;
}