@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-custom-gradient {
        background-image: linear-gradient(to right, #0d0e24, #0f2526, #0d1117);
    }
    .bg-card-custom-gradient {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background 0.3s ease, box-shadow 0.3s ease;
    }
    
   
    .bg-card-custom-gradient:hover {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
    
    
}